#header{
    margin: auto;
    margin-top: 5vh;
}

.conversation{
    border-radius: 5px;
    height: 60vh;
    overflow: scroll;
}

.title{
    color: blue;
}

.marker-1, .marker-2, .marker-3, .marker-4 {
    background-color: red;
}

.hidden {
    background-color: initial;
}
